.task {
  background-color: var(--task-bg-color);
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

  .task.reminder {
    border-left: 5px solid var(--reminder-border-color);
  }

  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
  }
